# Ignore everything
*
# Allow directories so rules below can match inside them
!*/

# Ignore everything in the 'old' directory
old/**

# Keep .gitignore itself
!.gitignore

# Keep all .slurm files
!*.slurm
!*.sh
!*.py
!*.awk
!*.bash
